#zona_archivo
{
    background: linear-gradient(to bottom, #7c7c7c, #a1a1a1);
    color: #ffffff; /* Texto oscuro */
    /* font-weight: bold; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* Sombra suave */ 
}