// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/* NUEVO DISEÑO PARA ION-ALERT*/
/* .ion-alert-custom {
    width: 150%;         // o un valor fijo como 400px
    max-width: 150%;
    height: auto;       // puedes ajustar también el alto si lo necesitas
} */